li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

.menu-bar {
  display: grid;
  justify-content: center;
  grid-template-columns: 11% 9% 8% 8% 11% 5%;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0;

  .tab {
    justify-self: center;
    margin: 0.35rem 0 0 0.5rem;
    font-size: 0.75rem;
  }

  .questions {
    color: white;
    background: #f48024;
    margin: 0;
    padding: 0.35rem 0.5rem 0.35rem 0.5rem;
    border-radius: 0.05rem;
  }
}

.container {
  padding: 0;
}

.search-bar-container-for-search {
  background: #eff0f1;
  display: grid;
  grid-template-columns: 60% 15% 15%;
  justify-content: center;
  padding: 0.75rem 0 0.5rem 0;
  border-top: 0.05rem solid rgb(224, 224, 224);
  border-bottom: 0.05rem solid rgb(224, 224, 224);

  .display-category-for-search {
    font-size: 1rem;
    padding-left: 1rem;
    margin-top: 1rem;
  }
  .search {
    width: 100%;
  }
}

.search-bar-container {
  background: #eff0f1;
  display: grid;
  grid-template-columns: 22% 48% 25%;
  justify-content: center;
  padding: 0.75rem 0 0.5rem 0;
  border-top: 0.05rem solid rgb(224, 224, 224);
  border-bottom: 0.05rem solid rgb(224, 224, 224);

  .allquestions-text {
    padding-top: 0.05rem;
    font-size: 1rem;
    font-weight: bold;
  }

  .search-icon {
    color: rgb(180, 180, 180);
  }

  .search-right {
    display: flex;
    margin-left: 2rem;
  }

  .show,
  .display-category {
    font-size: 0.8rem;
    padding-left: 0.2rem;
  }
}

.question-list-container {
  .question-list {
    padding: 0;
  }

  .question-asked {
    display: grid;
    grid-template-columns: 15% 85%;
    border-bottom: 0.01rem solid rgb(219, 219, 219);
  }
}

.upvote-comments {
  background: rgba(214, 217, 220, 0.2);

  .upvote-count {
    padding-top: 0.25rem;
  }

  .upvotes,
  .comments {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
  }

  .upvote-icon {
    font-size: 2rem;
    color: rgb(112, 112, 112);
    margin-left: 0.25rem;
  }

  .comments-icon {
    font-size: 1.1rem;
    color: rgb(112, 112, 112);
    margin-left: 0.25rem;
  }
}
.question-container {
  margin-left: 1rem;

  .question-text {
    font-size: 1.1rem;
  }

  .category {
    background: #e1ecf4;
    padding: 0.15rem 0.5rem 0.15rem 0.5rem;
    font-size: 0.75rem;
  }

  .time-author-container {
    display: flex;
  }

  .time-text,
  .author-text {
    font-size: 0.7rem;
    font-weight: 700;
    padding-right: 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
  }

  .time-text {
    color: #9fa6ad;
  }
}

footer {
  background: black;

  .footer-links-list {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 1rem 2rem 0 2rem;
  }

  .footer-links {
    font-size: 0.75rem;
    font-weight: bold;
    color: #99d4ff;
  }

  .footer-notes-container {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    font-size: 0.75rem;
    font-weight: bold;
  }

  .footer-notes-link {
    color: #99d4ff;
  }

  .footer-notes-text {
    color: #6a737c;
  }
}
