/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
header > nav.navbar {
  margin-bottom: 0 !important;
}
